Repository evfjunior/nextjs-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, yarn prettier --write, prettier --write

chore: add and configure commitizen
  .czrc
  .husky/prepare-commit-msg
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore: add and configure commitlint
  .commitlintrc.js
  .husky/prepare-commit-msg
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore: add and configure husky and lint-staged
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

build: regenerate yarn.lock file to remove npm resolvers
  yarn.lock
Due: none

chore: create basic folder structure
  src/components/.gitkeep
  src/hooks/.gitkeep
  src/types/.gitkeep
  src/utils/.gitkeep
Due: none

docs: add MIT license
  LICENSE
Due: none

docs: update README.md
  .github/assets/undraw-nextjs-illustration.svg
  README.md
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

chore: add icon files
  public/assets/icon-128.png
  public/assets/icon-512.png
Due: none

chore: create manifest file
  public/manifest.json
Due: prettier --write

chore: add links and meta tags
  src/pages/_app.tsx
  src/pages/index.tsx
Due: yarn lint --fix, yarn prettier --write

chore: create basic global styles
  src/styles/globals.css
Due: none

chore: create basic demo home page
  src/pages/index.tsx
  src/styles/Home.module.css
Due: yarn lint --fix, yarn prettier --write

chore: add basic project information to package.json
  package.json
Due: prettier --write

chore: add 'typecheck' script
  package.json
Due: prettier --write

ci: create ci workflow for pull requests
  .github/workflows/ci.yml
Due: prettier --write

chore: create pull request templates
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/docs_update.md
  .github/PULL_REQUEST_TEMPLATE/minor_changes.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
Due: prettier --write

chore: create issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

chore: add and configure jest and testing-library
  .github/workflows/ci.yml
  .jest/setup.ts
  .lintstagedrc
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write

chore: configure absolute import and path alias
  tsconfig.json
Due: prettier --write

Path conditions:
  yarn lint --fix: any of: src/**/*.{ts,tsx}
  yarn prettier --write: any of: src/**/*.{ts,tsx}
  prettier --write: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
