Repository evfjunior/nextjs-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, yarn test --findRelatedTests --bail, yarn prettier --write, prettier --write

chore(plop): update plop templates
  generators/templates/base.tsx.hbs
  generators/templates/index.ts.hbs
  generators/templates/stories.tsx.hbs
  generators/templates/test.tsx.hbs
  plopfile.js
Due: none

chore(jest): update jest coverage
  jest.config.js
Due: none

chore(layout): update layout file structure
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
  src/components/Layout/stories.tsx
  src/components/Layout/test.tsx
Due: yarn lint --fix, yarn test --findRelatedTests --bail, yarn prettier --write

chore(storybook): setup storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write

chore(package-json): sort scripts in alphabetical order
  package.json
Due: prettier --write

docs(readme): update README.md
  README.md
Due: prettier --write

Path conditions:
  yarn lint --fix: any of: src/**/*.{ts,tsx}
  yarn test --findRelatedTests --bail: any of: src/**/*.{ts,tsx}
  yarn prettier --write: any of: src/**/*.{ts,tsx}
  prettier --write: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
